---
import { getRelativeLocaleUrl } from "astro:i18n";
import "@pagefind/default-ui/css/ui.css";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/header/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import { getAssetPath } from "@/utils/withBase";
import { useTranslations } from "@/i18n";
import config from "@/config";

const locale = Astro.currentLocale ?? config.site.lang;

// Redirect to 404 page if `search` feature is not enabled
const notFoundUrl = getRelativeLocaleUrl(locale, "404");
if (config.features.search !== "pagefind" && notFoundUrl) {
  return Astro.rewrite(notFoundUrl);
}

const pagefindBundlePath = getAssetPath("pagefind/");

const t = useTranslations(locale);
---

<Layout title={`${t.pages.searchTitle} | ${config.site.title}`}>
  <Header />

  <Breadcrumb />

  <Main pageTitle={t.pages.searchTitle} pageDesc={t.pages.searchDesc}>
    <div id="pagefind-search" data-bundle-path={pagefindBundlePath}></div>
  </Main>
</Layout>

<script>
  import { initSearch } from "@/scripts/pagefind";

  console.log("SEARCH PAGE LOADED");

  document.addEventListener("astro:after-swap", () => {
    console.log("AFTER SWAP");
    initSearch("#pagefind-modal-search");
  });

  initSearch("#pagefind-modal-search");
</script>

<style is:global>
  #pagefind-search {
    --pagefind-ui-font: var(--font-app);
    --pagefind-ui-text: var(--foreground);
    --pagefind-ui-background: var(--background);
    --pagefind-ui-border: var(--border);
    --pagefind-ui-primary: var(--accent);
    --pagefind-ui-tag: var(--background);
    --pagefind-ui-border-radius: 0.375rem;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;

    form::before {
      background-color: var(--foreground);
    }

    input {
      font-weight: 400;
      border: 1px solid var(--border);
    }

    input:focus-visible {
      outline: 1px solid var(--accent);
    }

    .pagefind-ui__result-title a {
      color: var(--accent);
      outline-offset: 1px;
      outline-color: var(--accent);
      text-decoration-style: dashed;
      text-underline-offset: 4px;
    }

    .pagefind-ui__result-title a:focus-visible,
    .pagefind-ui__search-clear:focus-visible {
      text-decoration-line: none;
      outline-width: 2px;
      outline-style: dashed;
    }

    .pagefind-ui__result:last-of-type {
      border-bottom: 0;
    }

    .pagefind-ui__result-nested .pagefind-ui__result-link:before {
      font-family: system-ui;
    }
  }
</style>
